<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<div class="top-bar">
  <div class="top-bar-left">

    <ul *ngIf="accountType === 'not_logged_in'" class="dropdown menu" data-dropdown-menu>
      <div id="top-bar-space"></div>
      <img class="logo" src="./../assets/logo.png" alt="WeaselBeagle logo">
      <li>
        <a class="nav-item nav-link">
          Welcome to WeaselBeagle!
        </a>
      </li>
    </ul>

    <ul *ngIf="accountType === 'adopter'" class="dropdown menu" data-dropdown-menu>
      <div id="top-bar-space"></div>
      <img class="logo" src="./../assets/logo.png" alt="WeaselBeagle logo">
      <li>
        <a class="nav-item nav-link" routerLink="/">
          HomePage
        </a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/adopter/pending/view">
          View Pending Applications
        </a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/adopter/adopted/view">
          View Adopted Animals
        </a>
      </li>
    </ul>

    <ul *ngIf="accountType === 'trainer'" class="dropdown menu" data-dropdown-menu>
      <div id="top-bar-space"></div>
      <img class="logo" src="./../assets/logo.png" alt="WeaselBeagle logo">
      <li>
        <a class="nav-item nav-link" routerLink="/">
          View Training Appointments
        </a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/trainer/manage_schedule">
          Manage Training Schedule
        </a>
      </li>
    </ul>

    <ul *ngIf="accountType === 'vet'" class="dropdown menu" data-dropdown-menu>
      <div id="top-bar-space"></div>
      <img class="logo" src="./../assets/logo.png" alt="WeaselBeagle logo">
      <li>
        <a class="nav-item nav-link" routerLink="/vet/appointments/animals">
          View Vet Appointments
        </a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/vet/manage_schedule">
          Manage Vet Schedule
        </a>
      </li>
    </ul>

    <ul *ngIf="accountType === 'Shelter_Emp'" class="dropdown menu" data-dropdown-menu>
      <div id="top-bar-space"></div>
      <img class="logo" src="./../assets/logo.png" alt="WeaselBeagle logo">
      <li>
        <a class="nav-item nav-link" routerLink="/shelter/animals">
          View Shelter Animals
        </a>
      </li>
    </ul>

  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <button type="button" *ngIf="loggedIn" class="button" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x align-center" id="content-box">
    <div class="small-12 cell"></div>
    <div class="cell large-11 medium-11 small-12 grid-margin-y" id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="large-auto cell" id="footer">
    <!--    FOOTER-->
  </div>
</div>

<!--Notification provider-->
<!--https://www.npmjs.com/package/angular-notifier-->
<notifier-container></notifier-container>
