<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Weasel Beagle</li>

      <li>
        <a class="nav-item nav-link" routerLink="/">
          Home
        </a>
      </li>
      <li>
        <a routerLink="product/create" class="nav-link" routerLinkActive="active">
          Create Product
        </a>
      </li>
      <li>
        <a routerLink="products" class="nav-link" routerLinkActive="active">
          Products
        </a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <button type="button" *ngIf="loggedIn" class="button" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x align-center">
    <div class="small-12 cell"></div>
    <div class="cell large-10 medium-10 small-12" id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="large-auto cell" id="footer">
<!--    FOOTER-->
  </div>
</div>

<!--Notification provider-->
<!--https://www.npmjs.com/package/angular-notifier-->
<notifier-container></notifier-container>
