<div class="page-data">


  <table cellpadding="11">
    <tr>
      <td class="label">Name</td>
      <td>: <input name="name" ng-model="customerToEdit.name" required type="text"></td>
    </tr>
    <tr>
      <td class="label" valign="top">Address</td>
      <td valign="top">:
        <textarea cols="30" name="address" ng-model="customerToEdit.address" required rows="5"></textarea>
      </td>
    </tr>
    <tr>
      <td class="label">Email</td>
      <td>: <input name="email" ng-model="customerToEdit.email" required type="text"></td>
    </tr>
    <tr>
      <td class="label">Phone</td>
      <td>: <input name="phone" ng-model="customerToEdit.phone" required type="text"></td>
    </tr>
    <tr>
      <td class="label"></td>
      <td>
        &nbsp; <input name="submit" ng-click="updateCustomer(customerToEdit)" type="submit" value="Save">
        <input class="cancel" name="cancel" ng-click="cancelAdd()" type="button" value="Cancel">
      </td>
    </tr>
  </table>


</div>


